/* General layout for centering and structure */
.contactSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formWrapper {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formRow {
  width: 100%;
  margin-bottom: 15px;
}

.formInput {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.formInput:focus {
  border-color: #007bff;
  outline: none;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin-top: 5px;
}

.submitBtn {
  padding: 22px 40px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;

  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  border: 1px solid #535353;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8);
  outline: none;
  backdrop-filter: blur(1px);
  padding: 10px;
  transition: all 0.2s;
}

.submitBtn:hover {
  color: var(--secondaryColor);
  transform: scale(1.2);
}

.submitBtn:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

/* Alert styling */
.alert {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.danger {
  background-color: #f8d7da;
  color: #721c24;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .formWrapper {
    padding: 10px;
  }

  .submitBtn {
    width: 100%;
  }
}
