.home {
  font-size: 3vw;
}

.home h1 span {
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-family: "Archivo Black", sans-serif;
  text-wrap: nowrap;
  font-size: 90%;
  transition: linear 200ms;
}

.home h1 span:hover {
  filter: drop-shadow(0 0 0.75rem white);
  transform: scale(1.5);
}

.homeSocialContainer {
  display: flex;
}

.socialContainer svg {
  cursor: pointer;
  transition: linear 200ms;
}

.socialContainer svg:hover {
  filter: drop-shadow(0 0 0.75rem white);
  scale: 1.2;
}

.homeSocialContainer h1 {
  margin-right: auto;
}

.socialContainer {
  align-content: center;
}

.spinWord {
  color: rgb(155, 153, 153);
  transition: filter 0.15s ease;
  text-wrap: nowrap;
  font-size: 100%;
}

.blurred {
  filter: blur(8px);
}

.home h3 svg {
  animation-name: bulblight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes bulblight {
  from {
    filter: drop-shadow(0 0 1rem yellow);
  }
  to {
    filter: drop-shadow(0 0 0.25rem yellow);
  }
}

@media screen and (max-width: 620px) {
  .home {
    padding: 50px;
    width: 100%;
    font-size: 30px;
  }

  .homeSocialContainer {
    display: table-column;
  }

  .homeSocialContainer h1 {
    margin-right: 0;
  }

  .socialContainer {
    align-content: center;
  }

  .home h3 {
    margin-top: 10px;
    font-size: large;
  }
}
