.listContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.25rem;
}

.leftList,
.rightList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 45%;
}

@media (max-width: 768px) {
  .leftList,
  .rightList {
    text-align: left;
    word-wrap: normal;
    width: 100%;
    margin: 15px 0;
  }
}
